<div class="mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ path('beer', { 'id' : beer.id }) }}">{{ beer.name | capitalize }}</a> - {{ beer.degree }}°C
        <span class="float-right badge rounded-pill bg-info text-dark">{{ beer.price | format_currency('EUR', locale='fr') }}</span>
      </h5>
      Category : {% for c in beer.categories %}<span class="card-text"><b>{{ c.name }}</b></span>{% endfor %}
      <p class="card-text">Description : {{ beer.description }}</p>
    </div>
    <span class="card-footer">Release on : {{ beer.publishedAt| date('d/m/Y') }}</span>
  </div>
</div>
