{% extends 'base.html.twig' %}

{% block title %}Beer page{% endblock %}

{% block body %}
  <h3>Beer : {{ beer.name }}</h3>
  <p>description : {{ beer.description }}</p>
  <p>price : {{ beer.price }}</p>
  <p>degree : {{ beer.degree }}</p>
  <p>Country : <a href="{{ path('country', {id: beer.country.id}) }}">{{ beer.country.name }}</a></p>
  <p>Category :</p>
  <ul>
    {% for c in beer.categories %}
      <li>{{ c.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
